@import "index.scss";

.Hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  min-height: 700px;
  &__presentation {
    width: 600px;
    &__title,
    &__text {
      margin: 15px;
    }
  }
  &__image {
    width: 400px;
  }
}
