@import "index.scss";

.Navbar {
  background: $color-bg;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__right {
    display: flex;
    p {
      margin-right: 10px;
    }
    button {
      cursor: pointer;
      background: none;
      border: none;
    }
  }
}
