@import "index.scss";

.UpdateFormation {
	background-color: lightgrey;
	height: 350px;
	&__title {
		text-align: center;
	}
	&__form {
		&__select, &__name, &__description, &__getcategories, &__submit {
			margin: 10px;
			padding: 10px;
		}
	}
	&__delete {
		text-align: center;
	}
}
