.User-list {
  margin-top: 40px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid 1px rgb(103, 9, 95);
    height: 60px;
    p {
      width: 200px;
      margin-right: 10px;
      span {
        color: rgb(103, 9, 95);
      }
    }
  }
}
